.container {
    max-width: 1365px;
    margin-right: auto;
    margin-left: auto;
}

.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 28px;
    padding-right: 50px;
    padding-bottom: 28px;
}

.header-nav {
    color: #000;
    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.4px;
    text-transform: uppercase;
}

.header-nav ul {
    display: flex;
    gap: 24px;
}

.header-nav a:hover {
    color: rgb(14, 226, 195);
}

.header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-btn {
    color: #000;
    text-align: right;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.4px;
    text-transform: uppercase;
}

.header-btn:hover {
    color: rgb(14, 226, 195);
    /* filter: drop-shadow(5px 0px 5px 
                        #000
    ); */
}

/* //////////*/

.Desk-Shel-System {
    background-image: url(./image/png.image/Shelf-system\ img.png);
    height: 510px;
    background-repeat: no-repeat;
    background-size: cover;

}


.ShelfSystem-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 193px;
    gap: 12px;
}


.ShelfSystem-maintext {
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 43px;
    font-style: normal;
    font-weight: 400;
    line-height: 46px;
}

.ShelfSystem-minitext {
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.8px;
}

.learn-more {
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.4px;
    text-transform: uppercase;
}

.learn-more:hover {
    color: aqua;
}

/* ///////////// */


.heading-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 80px 430px 80px 430px;
    gap: 23px;
}

.main-text {
    color: #000;
    font-family: Roboto;
    font-size: 43px;
    font-style: normal;
    font-weight: 400;
    line-height: 58px
}

.mini-text {
    color: #A0A0A0;
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px
}

/* /// */

.computers {
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.Desk-Pads {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 23px;
}


.laptop-stands {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 23px;
}


.name-text {
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding-top: 51px;
}

.computers a {
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.4px;
    text-transform: uppercase;
}

/* ///////////// */


.product-content{

}

.heading-text-product{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 120px 74px 40px 80px;
    gap: 23px;
} 

